.contact-logo {
    color: #191919;

    &:hover {
        color: #191919;  
    }
}

.contact-nav {
    box-shadow: none;
}

.contact-header {
    height: 135vh;
    background-color: white;

    @include breakpoint-down(verysmall){
        height: 130vh;
    }
}

.contact-title {
    margin-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
}

.form-control {
    &:focus {
        box-shadow: none;
        border-color: #80bdff;
    }
}

.contact-btn-container {
    text-align: center;
}

.contact-btn {
    margin-top: 30px;
    padding: 8px 28px;
    border-radius: 3px;
    background-color: #191919;
    color: white;

    &:hover {
        color: white;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
    }
}

.message {
    height: 140px !important;
}

.contact-page {
    @include breakpoint-down(medium){
        color: white !important;
    }
}